{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumbleBee</title>

	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% static 'speaker/images/favicon-color.ico' %}"/>

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<!--    <script  src="https://use.fontawesome.com/ade0187e9d.js"></script>-->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- bootstrap reference -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'speaker/css/styles.css' %}">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="{% static 'speaker/js/script.js' %}" type="application/javascript"></script>

</head>

<body>
    <!-- header/navigation-section -->
    <header class="" id="title">
            <!-- Nav Bar -->
            <nav id="top-navbar" class='navbar navbar-expand-lg navbar-light'>

                <a class="navbar-brand" href="">
                    <img src="{% static 'speaker/images/drawing.svg' %}" width="75px" height="75px">
                </a>

                <a href="" class="nav-link navbar-brand">
                    <h1 class="heading brand-name">BumbleBee</h1>
                </a>

                <button type="button" name="navbar-toggler" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <hr>

    <!-- welcome-section -->
    <section id="welcome-section" class="container-fluid">
        <div class="row" style="text-align: center;">
<!--          <div class="col-lg-6">-->
<!--              <img src="{% static 'speaker/images/welcome.png' %}" style="margin:auto; height:125%; position:relative;" alt="">-->
<!--          </div>-->
            <div class="col-lg-6" style="margin: auto;">
                <h1 id="welcome" class="heading">
                    Welcome
                </h1>
                <h2 class="sub-heading">
                    Text-to-speech just got more fun.
                </h2>
            </div>
        </div>
        <hr class="sub-section-separator dark">
        <a href="#input"><button class="btn btn-lg btn-outline-dark get-started-btn">
            GET STARTED
        </button></a>

    </section>

    <hr>


    <!-- about-section -->
    <section id="about" class="about container-fluid" style="background-color: #f4f9f9">

        <!-- temp-heading -->
        <h1 class="heading">About</h1>
        <hr class="sub-section-separator">
        <div class="container-fluid">
            <img src="" alt="">
            <h2 style="width:75%; margin: auto;" >Bumblebee is a text-to-speech application. It uses sections of songs to produce the desired audio output.</h2>
        </div>
    </section>



    <hr>



    <!-- features-section -->
    <section id="features" class="festures container" >
        <!-- features in carousel -->
        <h1 class="heading">Features</h1>
        <hr class="sub-section-separator">
        <div id="features-carousel" class="carousel carousel-dark slide" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="feature-1">
                    </button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="feature-2">
                    </button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="feature-3"></button>
                </div>
                <div class="carousel-item active container-fluid">
                    <image class="feature-image" src="{% static 'speaker/images/placeholder.png' %}" alt="test-to-speech-image" height=400px width=400p></image>
<!--                    <i class="fas fa-comment-dots"></i>-->
                    <h2 class="feature-heading">Text-to-speech</h2>
                    <em class="feature-description">Text-to-speech using non-specific/random voices.</em>
                </div>
                <div class="carousel-item container-fluid">
                    <image class="feature-image" src="{% static 'speaker/images/placeholder.png' %}" alt="intelligent-image" height=400px width=400p></image>
                    <h2 class="feature-heading">Intelligent</h2>
                    <em class="feature-description">Filters meaningless text from the input.</em>
                </div>
                <div class="carousel-item container-fluid">
                    <image class="feature-image" src="{% static 'speaker/images/placeholder.png' %}" alt="test-to-speech-image" height=400px width=400p></image>
                    <h2 class="feature-heading">Anonymous</h2>
                    <em class="feature-description">Result contains a wide array of voices.</em>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#features-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#features-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <hr>
<!--    input section-->
    <section id="input" class="container-fluid" style="background-color: #f4f9f9">
        <h1 class="heading">Input</h1>
        <hr class="sub-section-separator">
        <form action="submit-input" class="container-fluid" method="post">
            {% csrf_token %}
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <textarea name="user-input" id="user-input" class="form-control" placeholder="Enter text here" cols="30" rows="10"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 field-div container counter">
                    <h5 id="word-count col-lg-6 col-md-12">Words Left: <span id="count">100</span></h5>
                </div>
                <div  class="col-lg-12 container radio">
                    <input type="radio" id="add-silence" name="action-not-found" value="silence" checked>
                    <label for="add-silence">Add 1000ms of silence for phrases that are not found.</label><br>
                    <input type="radio" id="add-skip" name="action-not-found" value="skip">
                    <label for="add-skip">Skip the phrases that are not found</label>
                </div>

                <div class="col-lg-12 col-md-12 field-div container query">
                    <input class="btn col-lg-3 col-md-6 btn-dark field" type="submit"/>
                </div>
            </div>


        </form>
    </section>

    <hr>
    {% block output %}
    {% endblock %}
    <hr>

    <!-- contact section -->
    <section id="contact" class="container-fluid">
        <h1 class="heading">Get In Touch</h1>
        <p>Have any ideas for improvements? Having any problems?</p>
        <form class="row container-fluid" id="contact-form" action="contact-email" method="post">
            {% csrf_token %}
            <div class="col-lg-12">
                <!-- <label for="message-box" class="form-lable">Message</label> -->
                <textarea id="message-box" name="message-box" class="form-control" placeholder="Message" cols="30" rows="10"></textarea>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 field-div">
                <!-- <label for="email-address" class="form-lable">Email Address</label> -->
                <input type="text" class="col-lg-12 col-md-12 col-sm-12 field" id="email-address" name="email-address" placeholder="Email Address">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 field-div">
                <!-- <label for="full-name" class="form-lable">Full Name</label> -->
                <input type="text" class="col-lg-12 col-md-12 col-sm-12 field" id="full-name" name="full-name" placeholder="Full Name">
            </div>
            <div class="col-lg-4 col-md-6 field-div">
                <input type="submit" class="btn btn-dark col-lg-12 col-md-12 col-sm-12 field">
            </div>


        </form>
    </section>

    <hr>

    <!-- footer -->
    <footer class="footer nav-bar" id="footer" method="post" style="background-color: #f4f9f9">
            <nav class="row navbar" id="navbar-footer">
                    <div class="col">
                        <a class="navbar-link" href="#title">Home</a>
                    </div>
                    <div class="col">
                        <a class="navbar-link" href="#about">About</a>
                    </div>
                    <div class="col">
                        <a class="navbar-link" href="#features">Features</a>
                    </div>
                    <div class="col">
                        <a class="navbar-link" href="#contact">Contact</a>
                    </div>
            </nav>

            <hr class="sub-section-separator">

            <p class="copyright">© Copyright 2021 BumbleBee</p>
    </footer>
</body>

</html>