{% extends 'speaker/index.html' %}

{% block output %}
    <section id="output" class="container-fluid">
        <h1 class="heading">Output</h1>
        <hr class="sub-section-separator">
        {% if output is not None %}
            {% for i, j, k in phrases %}
                {% if j %}
                    <h3 class="found">{{i.phrase}}</h3>
                {% else %}
                    <h3 class="not-found">{{i.phrase}}</h3>
                {% endif %}
            {% endfor %}
            <audio controls>
                <source src="{{output}}" type="audio/mpeg">
            </audio>
        {% endif %}
        {% if output is None %}
            <br>
            <h3>No Matches Found</h3>
            <a href="/"><button class="btn btn-lg btn-outline-dark get-started-btn">
                Try Different Input
                </button></a>

        {% endif %}

    </section>
{% endblock %}